html {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
}

p {
  font-family: 'Quicksand', sans-serif;
}

h1 {
font-family: 'Josefin Sans' , sans-serif;
}

.navbar {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding-right: 1rem;
}

.navbar-brand {
  margin-top: 0.2rem;
}

#active {
  color: #fd8230;
}

.jumbotron {
  height: 44rem;
  margin-top: 2rem;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.jumbotron-a4G {
  background-image: url('../images/digital/jumbotron-a4G.jpg');
  background-size: cover;
}

.text-center {
  margin-top: 31rem;
  font-family: 'Quicksand', sans-serif;
}

.message {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.message p {
  margin-top: 5rem;
}

#message {
  font-size: 14px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3, 1.3);
}

.btn {
  border: 2px solid black;
  border-radius: 0;
  color: black;
  background: transparent;
}

.btn:hover {
  background-color: #fd8230;
  color: white;
  border: 2px solid  #fd8230;
}

#sectionfont {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sectionmargin {
  margin-bottom: 5rem;
}

#align {
  margin-top: 1rem;
}

#align2 {
  margin-bottom: 2rem;
}

#align3 {
  margin-top: 25rem;
}

#align4 {
  margin-top: 17rem;
}

#bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.backhome {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .image-container img {
    opacity: 1;
    transition: none;
  }

  .image-container img:hover {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (max-width: 960px) {

.jumbotron {
  display: none;
}

.message {
  margin-top: 7rem;
  font-size: 1rem;
}

#align {
  margin-top: 1rem;
}

#align2 {
  margin-top: 1rem;
}

#align3 {
  margin-top: 0;
}

#align4 {
  margin-top: 5rem;
}

.image-container img {
  opacity: 1;
  transition: none;
}

.image-container img:hover {
  opacity: 1;
  transform: none;
}

.sectionmargin {
  margin-bottom: 2rem;
}

}

@media only screen and (max-width: 720px) {

.message {
  margin-top: 12rem;
  font-size: 1rem;
}

}

@media only screen and (max-width: 360px) {

.message {
  margin-top: 12rem;
  font-size: 0.8rem;
}

}
